body{
	margin:0;

	font-size: 20px;
	font-weight: 100;
	font-family: sans-serif;
}
#reset{
	padding:5px;
	background:#aaa;
	width:80px;
	border-radius: 5px;
	color: #fff;
	text-align: center;
  display: inline-block;

	position: relative;
	top:0;

	cursor: pointer;
	border-bottom: 2px solid #888;

	-webkit-transition: top 0.1s linear;
    -moz-transition: top 0.1s linear;
    -ms-transition: top 0.1s linear;
    -o-transition: top 0.1s linear;
    transition: top 0.1s linear;

    -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;

}
#reset:hover{
	background:#bbb;
	top:-2px;
}
#reset:active{
	background:#999;
	top:2px;
}
#park{
	padding:5px;
	background:#aaa;
	width:80px;
	border-radius: 5px;
	color: #fff;
	text-align: center;
  display: inline-block;

	position: relative;
	top:0;

	cursor: pointer;
	border-bottom: 2px solid #888;

	-webkit-transition: top 0.1s linear;
    -moz-transition: top 0.1s linear;
    -ms-transition: top 0.1s linear;
    -o-transition: top 0.1s linear;
    transition: top 0.1s linear;

    -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;

}
#park:hover{
	background:#bbb;
	top:-2px;
}
#park:active{
	background:#999;
	top:2px;
}
/* SLIDER */
.slidecontainer{
  display: inline-block;
  position: relative;
	margin-top: -40px;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #FFFFFF;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.controlPanel {
  height:  inherit;
}
